[Unit]
Description=Nova Pi Store Remote Agent
After=network-online.target
Wants=network-online.target

[Service]

Type=simple

User=root

EnvironmentFile=/etc/nova-pi-store/agent.conf

ExecStart=/usr/bin/python3 /opt/nova-pi-store-agent/nova-pi-store-agent.py

Restart=always
RestartSec=5

NoNewPrivileges=false

[Install]

WantedBy=multi-user.target
